.pagehead {
  font-family: 'Alegreya', serif;
  font-weight:500;
  font-style: italic;
}

.cardhead {
  background-color: rgb(186,15,43);
  font-family: 'Alegreya', serif;
  font-weight:500;
  font-style: italic;
}

.cardheadcontainer {
  height: 100px;
  top: -50px;
  position: relative;
  overflow: hidden;
}

.carouselhead {
  background-color: rgba(34,34,34,0.5);
  width: 80%;
  font-family: 'Alegreya', serif;
}
.carouseldescription {
  background-color: rgba(186,15,43,0.5);
  width: 80%;
}
